/ {
	chosen {
		zephyr,code-partition = &boot_partition;
	};
};

&flash0 {
    /delete-node/ partitions;
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;
        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x9000>;     /* 36KB */
        };
        slot0_partition: partition@9000 {
            label = "image-0";
            reg = <0x00009000 0x36000>;    /* 216KB */
        };
        slot1_partition: partition@3f000 {
            label = "image-1";
            reg = <0x0003f000 0x36000>;    /* 216KB */
        };
        scratch_partition: partition@75000 {
            label = "image-scratch";
            reg = <0x00075000 0x6000>;     /* 24KB */
        };
        storage_partition: partition@7b000 {
            label = "storage";
            reg = <0x0007b000 0x3000>;     /* 12KB */
        };
    };
};
